* {
  /* box-sizing: border-box; */
  box-sizing: border-box;
}

:focus {
 /* TODO */
}

html {
  height: 100%;
}

body {
   background-image: linear-gradient(orange, red);
  
}

input {
 /* TODO */
}

.search-container {
 text-align: center;
 display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 margin: 20px;
 padding: 10px;
 border: 2px solid black;
 opacity: 0.5;
}
.search-container input,
.search-container .suggestions {
  
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  background-color: rgb(213, 17, 158);
}
ul li {
  background-color: rgb(213, 17, 158);
}
ul li:hover {
  background-color: rgb(213, 17, 158);
}

input {
   /* TODO */
}

.results-list{
  position: absolute;
  background-color: rgb(213, 17, 158);
}