* {
  /* box-sizing: border-box; */
  box-sizing: border-box;
}

:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 5px rgba(182, 177, 190, 0.912);
}

html {
  height: 100%;
}

body {
   background-image: linear-gradient(orange, red);
  
}

.search-container {
 text-align: center;
 display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 margin: 20px;
 padding: 10px;
 border: 2px solid black;
 opacity: 0.5;
}
.search-container input,
.search-container .suggestions {
  width: 50%;
    margin: 0 auto;
}
.search-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-container .suggestions {
  position: relative;
  max-height: 100px;
  overflow-y: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.has-suggestions {
  border: 1px solid #ccc;
}
ul li {
  padding: 12px;
}
ul li:hover {
  background-color: #eee;
}

input {
  width: calc(100% - 24px);
}